<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="checkoutstyle.css">
</head>
<body>
    
<div class="container">
    <div class="checkoutLayout">
       
        <div class="returnCart">
            <div class="logo">
                <img src="howglogo.png">
                <a href="/afterlogin">Keep Shopping</a>
            </div>
           
            <h1>List Product in Cart</h1>
            <div class="list">

                <div class="item">
                    <img src="burger.jpg">
                    <div class="info">
                        <div class="name">PRODUCT 1</div>
                        <div class="price">$22</div>
                    </div>
                    <div class="quantity">5</div>
                    <div class="returnPrice">&#8377;0</div>
                </div>

            </div>
        </div>


        <div class="right">


           
            <div class="return">
                <div class="total">
                    <div class="row">
                        <div>Total Quantity :</div>
                        <div class="totalQuantity">0</div>
                    </div>
                    <div class="row">
                        <div>Total Price :</div>
                        <div class="totalPrice">$0</div>
                    </div>
                </div>
                

            <form class="container" id="checkoutForm" method="post" action="/">
                <div class="form-group">
                    <label for="name"> User email :</label>
                    <input  id="name" class="form-control" type="text" name="name" placeholder="Enter email ">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number :</label>
                    <input id="phone" class="form-control" type="tel" name="phone" placeholder="Enter Phone Number ">
                    <span id="phoneError" style="color: red; display: none;">Please enter a valid 10-digit phone number.</span>
                </div>
                <div class="form-group">
                    <label for="address">Address :</label>
                    <input id="address" class="form-control" type="text" name="address" placeholder="Enter Address">
                </div>
                <div class="form-group">
                    <label for="payment">Payment option:</label>
                    <select id="payment" name="payment" required>
                        <option value="cash">Cash</option>
                        
                    </select>
                </div>
                <button id="pay-button" type="submit">Pay and Place Order</button>
            </form>
            <a href="profileuser">My Orders</a>
    </div>

</div>


<script src="checkoutprod.js"></script>

</body>
</html>