<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylec.css">
</head>
<body>

    <section id="Home">
        <nav>
            <div class="logo">
                <img src="howglogo.png">
            </div>

            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Menu">Menu</a></li>
                <li><a href="#Gallary">Gallary</a></li>
                <li><a href="#Review">Review</a></li>
                <li><a href="#Login">Order</a></li>
                <li><a href="#Login">Login</a></li>
                
            </ul>

            <div class="icon">
                
                <a href="#Login"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

        </nav>

        <div class="main">
           

            <div class="men_text">
                <h1>Experience<span>Hogwarts magic in every</span><br>delectable bite!</h1>
            </div>

            <div class="main_image">
                <img src="main_img.jpg">
            </div>

        </div>

        <p id="info">
            Welcome to the Hogwarts School of Witchcraft and Wizardry's very own food website, where enchanting flavors and magical recipes await our esteemed students. Delight your taste buds with our diverse array of dishes, from hearty meals to delectable desserts, all crafted with a touch of wizardry. Whether you're craving a butterbeer-infused treat or a traditional pumpkin pasty, our recipes are sure to charm your palate. Join us on a culinary journey through the halls of Hogwarts, where every meal is a magical experience!
        </p>

       

    </section>

    <!--About-->

    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                
                <img src="Food-Plate.jpg">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    Indulge in the magic of our Hogwarts-inspired cuisine! Choose us for an enchanting culinary experience that brings the wizarding world to your plate. From butterbeer delights to treacle tarts, our recipes are crafted with love and a sprinkle of Hogwarts magic. Join us and discover why our food is the spellbinding choice for witches, wizards, and magical beings alike!
                </p>
            </div>

        </div>

        <a href="#" class="about_btn"></a>

    </div>

    

    <!-- menu -->
    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="burger.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Buger</h2>
                    <p>
                    </p>
                    <h3>&#8377; 90.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="butterbeer.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>ButterBeer</h2>
                    <p>
                    </p>
                    <h3>&#8377; 150.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="white_pasta.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>White Pasta</h2>
                    <p>
                    </p>
                    <h3>&#8377; 160.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="oreo_shake.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Oreo Shake</h2>
                    <p>
                    </p>
                    <h3>&#8377; 60.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="pizza_cheese_corn.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pizza Cheese Corn</h2>
                    <p>
                    </p>
                    <h3>&#8377; 180.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="pizza_deluxe.png">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pizza Deluxe</h2>
                    <p>
                    </p>
                    <h3>&#8377; 200.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="pizza_extravagence.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pizza Extravagence</h2>
                    <p>
                    </p>
                    <h3>&#8377; 230.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="chocolate_iceream.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Chocolate Icecream</h2>
                    <p>
                    </p>
                    <h3>&#8377; 80.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="paneer_fried_rice.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Paneer Fried Rice</h2>
                    <p>
                    </p>
                    <h3>&#8377; 120.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="sandwich.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Sandwich</h2>
                    <p>
                    </p>
                    <h3>&#8377;95.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="spicy_garlic_noodles.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>spicy Garlic Noodles</h2>
                    <p>
                    </p>
                    <h3>&#8377; 120.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="mocktail_virgin_mojita.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Mocktail Virgin Mojita</h2>
                    <p>
                    </p>
                    <h3>&#8377; 70.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="veg_maggie.png">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Veg Maggie</h2>
                    <p>
                    </p>
                    <h3>&#8377; 50.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="spring_roll.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Spring Roll</h2>
                    <p>
                    </p>
                    <h3>&#8377; 70.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="masala_fries.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Masala Fries</h2>
                    <p>
                    </p>
                    <h3>&#8377; 80.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="mocktail_blue_curacao.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Mocktail Blue Curacao</h2>
                    <p>
                    </p>
                    <h3>&#8377; 70.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="manchurian.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>manchurian</h2>
                    <p>
                    </p>
                    <h3>&#8377; 120.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="french_fries.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>French Fries</h2>
                    <p>
                    </p>
                    <h3>&#8377; 110.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="chilli_paneer.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Chilli Paneer</h2>
                    <p>
                    </p>
                    <h3>&#8377; 130.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="Cold_Drink_Lychee.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Cold Drink Lychee</h2>
                    <p>
                    </p>
                    <h3>&#8377; 70.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="Butter_naan.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Butter Naan</h2>
                    <p>
                    </p>
                    <h3>&#8377; 35.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="Tandoori_roti.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Tandoori Roti</h2>
                    <p>
                    </p>
                    <h3>&#8377; 15.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="lassi.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Sweet Lassi</h2>
                    <p>
                    </p>
                    <h3>&#8377; 70.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            <div class="menu_card">

                <div class="menu_image">
                    <img src="Kesar_Badam_Lassi.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Kesar Badam Lassi</h2>
                    <p>
                    </p>
                    <h3>&#8377; 80.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
        </div>

    </div>




       <!--Gallary-->

       <div class="gallary" id="Gallary">
        <h1>Our<span>Gallary</span></h1>

        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="gallary_1.jpg">

                <h3>Food</h3>
                <p>
]                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="gallary_2.jpg">

                <h3>Food</h3>
                <p>
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="gallary_3.jpg">

                <h3>Food</h3>
                <p>
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="gallary_4.jpg">

                <h3>Food</h3>
                <p>
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="gallary_5.jpg">

                <h3>Food</h3>
                <p>
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="gallary_6.jpg">

                <h3>Food</h3>
                <p>
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

        </div>

    </div>



    
    <!--Review-->

    <div class="review" id="Review">
        <h1>Customer<span>Review</span></h1>

        <div class="review_box">
            <div class="review_card">

                <div class="review_profile">
                    <img src="Dumbledore.jpg">
                </div>

                <div class="review_text">
                    <h2 class="name">Ablus Dumbledore</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The Hogwarts canteen, under the wise headmaster Dumbledore’s watch, offers a delightful array of magical treats. From pumpkin pasties to treacle tarts, each bite is a culinary adventure, uniting students in a shared love for enchanting flavors and warm camaraderie. Truly, a feast for the senses. 🍽️✨
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="snape2.jpg">
                </div>

                <div class="review_text">
                    <h2 class="name">Severus Snape</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The Hogwarts canteen, a necessary provision for the sustenance of our students, serves its purpose. The food, adequate for the developing wizard and witch, is as expected—nothing less, nothing more. It is a place of nourishment, not indulgence. Eat, study, and leave.
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="umbridge.jpg">
                </div>

                <div class="review_text">
                    <h2 class="name">Dolores Umbridge</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <!-- <i class="fa-solid fa-star"></i> -->
                        <!-- <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i> -->
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The Hogwarts canteen, while it may fulfill the basic requirements of nourishment, leaves much to be desired. The offerings are as bland as one might expect from a school kitchen, with little to no culinary flair. It is a place of sustenance, not enjoyment. One dines here not for pleasure, but for the simple, utilitarian need to eat.
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="Lordvoldemort.jpg">
                </div>

                <div class="review_text">
                    <h2 class="name">Lord Voldemort</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        The Hogwarts canteen, a mere refectory, serves its function. It fuels the young minds that will shape the future of our world. The fare is as one would expect—sufficient, providing sustenance, nothing more. It is not a place for merriment, but for the necessary act of dining. Eat quickly, and return to your studies.
                    </p>

                </div>

            </div>

        </div>

    </div>




   






    <div class="Login_head">
       <h1 class="Login" id="Login">LOGIN</h1>
    </div>
    <div id="background_container">
        <div class="container">
            <div class="form-container">
                
                        <form action="/main" method="post">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" placeholder="Enter username/email" required>
            
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" placeholder="Enter password" required>
            
                            <label for="usertype">User Type:</label>
                            <select id="usertype" name="usertype" required>
                                <option value="student">Student</option>
                                <option value="canteen">CanteenOwner</option>
                            </select>
            
                            <button type="submit">Login</button>
                            <p>Dont have an account?<a href="/signup">Signup</a></p>
                        </form>
                        
    
            </div>
        </div>
    </div>
        <!-- <header>
            <h1>Welcome to FeedMeNow - Hogwarts Canteen</h1>
        </header>
    
        <section>
            <p>Discover the magical dining experience at Hogwarts Canteen with FeedMeNow app.</p> -->
            
       
        
        <footer>
            <p> 2024 FeedMeNow - Hogwarts Canteen</p>
        </footer>
        </div> 




       
        
    </div>
</header>



    



     

    <footer>
        <div class="footer_main">

        
 

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+91 7667841789</p>
                <p>+91 8797112455</p>
                <p>akash.20234017@mnnit.ac.in</p>
                <p>himanshu.20233146@mnnit.ac.in</p>
            </div>

            <div class="footer_tag">
                <h2>Our Service</h2>
                <p>Fast Delivery</p>
                <p>Easy and Secure Payments</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

   </footer> 
</body>
</html>